* {
    margin:0;
    padding:0;
}

.index-body {
    background-image: url('../img/sea.jpg');
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
    overflow: hidden;
}

.meteo-body {
    background-image: url('../img/background.webp');
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
    overflow: hidden;
}

.main-index{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-meteo{
    height: 98vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.index-form {
    display: flex;
    flex-direction: column;
    margin: 0px;
    scale: 1.5;
}

input, button, .d-none{
    margin: 5px;
}

.seagull {
    position: fixed;
    background-image: url('../img/seagull.gif');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 175px;
    height: 175px;
}

.shark{
    position: fixed;
    background-image: url('../img/shark.gif');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 225px;
    height: 175px;    
}

.snow{
    position: fixed;
    background-image: url('../img/snowflake.gif');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 50px;
    height: 50px;
    display: none;
}

.rain{
    position: fixed;
    background-image: url('../img/water-drop.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 50px;
    height: 50px;
    display: none;
}

.wind{
    position: fixed;
    background-image: url('../img/leaf.webp');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 50px;
    height: 50px;
    display: none;
}

.d-none{
    text-align: center;
    font-weight: bold;
    color: red;
}

.btn-level{
    width: 100px;
    height: 50px;
    padding: 10px;
    margin: 5px;
    background-color: aqua;
    border-radius: 25px;
    border: 5px solid darkblue;
    text-align: center;
    align-content: center;
    font-size: larger;
}

.scroll {
    display: flex;
    position: fixed;
    flex-direction: column;
    top: 30vh;
}

.journal {
    font-family: "Quintessential", serif;
    width: 40vw;
    height: 750px;
    font-size: 2.5vh;
    padding: 2vw;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    align-self: center;
}

.weather-info {
    font-family: "Quintessential", serif;
    width: 40vw;
    height: 750px;
    font-size: x-large;
    padding: 2vw;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-items: center;
}

.choice-island {
    display: block;
    margin: 2vw auto; 
    padding: 10px;
    border: 2px solid darkblue;
    border-radius: 5px;
    font-size: large;
}

.btn-destination {
    display: block;
    margin: 2vw auto;
    padding: 10px;
    border: 2px solid darkblue;
    border-radius: 5px;
    font-size: large;
    background-color: white;
    text-align: center;
}

.filter{
    background-image: url('../img/black.jpg');
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
    opacity: 0;
    position: fixed;
    overflow: hidden;
    pointer-events: none; /*Merci Monsieur !!! :)*/ 
}

.admin-menu{
    font-family: "Roboto", sans-serif;
    width: 50%;
    margin: auto;
    background-color: black;
    color: white;
    border-radius: 10px;
    text-align: center;
    padding: 1vh;
    font-size: medium ;
    display: none;
}